.product-container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.product-image {
  list-style-type: none;
  width: 258px;
  height: 350px;
  padding: 20px;
  margin: 6px 20px;
  border: 1px solid #333;
}

form {
  width: 100%;
}

.select-input {
  width: 33%;
  display: flex;
  margin: auto;
  padding-left: 10px;
}

form p button {
  width: 33%;
  margin: auto;
  background: #333;
  display: block;
  color: white;
  border-color: transparent;
}

form p button:active {
  background: dimgrey;
}
