<div class="product-container">
  <a routerLink="/products/{{ productItem.id }}">
    <img
      class="product-image"
      src="{{ productItem.url }}"
      alt="Product placeholder image"
    />
  </a>
  <h3>{{ productItem.name }}</h3>
  <p>{{ productItem.price }}</p>
  <form (ngSubmit)="submitAddToCart()">
    <select class="select-input" name="quantity" [(ngModel)]="quantity">
      <option *ngFor="let number of quantityrange" [ngValue]="number">
        {{ number }}
      </option>
    </select>
    <p><button type="submit">Add to cart</button></p>
  </form>
</div>
