img {
  width: 140px;
  border-radius: 10px;
}

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.number-input {
  width: 80px;
  text-align: center;
  margin-left: 5px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.input-box {
  width: 100%;
  font-size: .95em;
  padding: 4px;
}

.small-text {
  font-size: .75em;
  opacity: 50%;
}

.form-margin button,
.cart-item-details button {
  background: #333;
  display: block;
  color: white;
  border-color: transparent;
  margin: 10px 0px;
}

.form-margin button:active,
.cart-item-details button:active {
  background: dimgrey;
}

.form-margin button:disabled {
  background: darkgrey;
}


.form-margin button {
  width: 50%;
}

.cart-item-details p {
  margin: 10px 0px 10px 0px;
  white-space: nowrap;
  overflow: hidden;
}

.errors {
  color: red;
}
