<div class="detail-container" *ngIf="productItem == undefined; else elseBlock">
  <a routerLink="/">
    <h1 routerLink="/">We couldn't find the product you're looking for!</h1>
  </a>
</div>

<ng-template #elseBlock>
  <form class="detail-container" (ngSubmit)="submitAddToCart(productItem)">
    <img src="{{ productItem.url }}" />
    <div #elseBlock class="detail-item">
      <h1>{{ productItem.name }}</h1>
      <p>${{ productItem.price }}</p>
      <p>{{ productItem.description }}</p>
      <div>
        <select
          class="select-input"
          [(ngModel)]="quantity"
          name="{{ productItem.id }}"
        >
          <option *ngFor="let number of quantityrange" [ngValue]="number">
            {{ number }}
          </option>
        </select>
        <p><button type="submit">Add to cart</button></p>
        <p>
          <a class="back-link" routerLink="/products"
            >&larr; Back to product list</a
          >
        </p>
      </div>
    </div>
  </form>
</ng-template>
